{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "brace-style": off,
    "padded-blocks": off,
    "lines-around-comment": ["error", { "beforeLineComment": true, "beforeBlockComment": true, "allowBlockStart": false }]
  },
  "parserOptions": {
    "ecmaVersion": 11,
  },
}
