.ol-edit.ol-control {
  top: 10em;
  left: 0.5em;
}

.ol-edit.ol-control .ol-edit-buttons.draw {
  margin-bottom: 4px;
}

.ol-edit.ol-control button {
  padding-bottom: 3px;
}

.ol-edit.ol-control button.active {
  background-color: #ffcc33;
  background-color: rgba(255,204,51,0.7);
}
