.ol-image.ol-control {
  top: 0.5em;
  right: 6.5em;
}

.ol-image.ol-control .download,
.ol-image.ol-control .print {
  display: none;
}

.ol-image.ol-control.active .download,
.ol-image.ol-control.active .print {
  display: block;
}

.ol-image.ol-control button {
  display: inline-block;
}
