.ol-edit.ol-control {
  top: 8em;
  left: 0.5em;
}

.ol-edit.ol-control .ol-edit-buttons.draw {
  margin-bottom: 4px;
}

.ol-edit.ol-control button.active {
  background-color: #ffcc33;
  background-color: rgba(255,204,51,0.7);
}

.ol-edit.ol-control button svg {
  pointer-events: none;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-measure:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
