name: Run 2.x build
on:
  push:
    branches:
      - '2.x'
      - '2.x-**'
  pull_request:
    branches:
      - '2.x'

jobs:
  build:
    name: Run build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '16.x'
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v3
        with:
          path: dist
